<div class="card bg-light mb-3">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <button class="btn btn-secondary my-2" routerLink="/personas">volver</button>
  <form>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" class="form-control"
      [(ngModel)]="persona.nombre">
      <div class="alert alert-danger" *ngIf="error?.nombre">
        {{error.nombre}}
      </div>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input type="text" name="apellido" class="form-control"
      [(ngModel)]="persona.apellido">
      <div class="alert alert-danger" *ngIf="error?.apellido">
        {{error.apellido}}
      </div>
    </div>
    <div class="form-group">
      <label for="correo">Correo</label>
      <input type="text" name="correo" class="form-control"
      [(ngModel)]="persona.correo">
      <div class="alert alert-danger" *ngIf="error?.correo">
        {{error.correo}}
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary"
      (click)="persona.id? editar(): crear()">
      {{persona.id? 'Editar':'Crear'}}</button>
    </div>
  </form>
  </div>
</div>
